//color pallette
$primary: rgb(33, 29, 62);
$secondary:rgb(189,27,105);
$tertiary:rgb(109,132,185);
$highlight:rgb(168,35,147);
$wrongRed:rgb(248,6,6);
$correctGreen:rgb(21,203,17);

//fonts
$mainFont: "Roboto Slab", serif;
$secondaryFont: "Permanent Marker", sans-serif;